<% include header %>
<h1>What's your ZIP code?</h1>
<form class="pure-form">
	<fieldset>
		<input type="number" name="zip" placeholder="12345" autofocus="required">
		<input type="submit" class="pure-button pure-button-primary" value="GO">
	</fieldset>
</form>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/main.js"></script>


<% include footer %>